<div class="banner" id="home">
  <div class="banner-content">
    <div class='opening-text'>
      ScienceVest
    </br>
    </div>
    <div class="sub-opening-text">
      <hr>
      </br>
      Connecting accredited investors to scientific funding opportunities.
    </br>
    <div class="pre-register">
          <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//sciencevest.us8.list-manage.com/subscribe/post?u=c50dae01481d495cdc2281893&amp;id=970e91af45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_c50dae01481d495cdc2281893_970e91af45" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Pre-resgister" name="subscribe" id="mc-embedded-subscribe" class="button button btn btn-lg btn-primary signup-button" role="button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
    </div>
    </div>
  </div>
</div>

<!-- about section-->
                                                    
<div id="investors-container" class="container-fluid">
  <div class="row">

    <div class="col-md-4">
      <h1>Diversify</h1>
      </br>
      <p>Our funds get you exposure to a large number of scientific investments all at once</p>
    </div>  

    <div class="col-md-4">
      <h1>Customize</h1>
      </br>
      <p>Select funds based on our investment criteria(Research Type, Expected Return & Research Stage)</p>
    </div> 

    <div class="col-md-4">
      <h1>Lead</h1>
      </br>
      <p>Funds are led by top Angels, VC's and Philanthropists that specialize in the sector</p>
    </div>        

  </div>

  <div class="fund-boxes-container">
    <div class="row">

    <div class="col-md-6">
      <div class="fund-box">
      <h1>Musk Artificial Intelligence Fund</h1>
      <hr>
      <li><h3>Research Type:  Artificial Intelligence</h3></li>
      <li><h3>Expected Returns: Full Profit</h3></li>
      <li><h3>Reasearch Stage: Commercial Development</h3></li>
      </br>
      <p>Raising 5 Million</p>
      <p>25K minimum investment</p>
      <p>Launching October 2015</p>
      <%= image_tag('elon_avatar.png', class: 'media-img', alt: 'Funder Image') %>
      </br>
      </br>
      <button class="btn btn-primary btn-lg" disabled="disabled" type="submit">Launching Soon</button>
      </div>
    </div>  

    <div class="col-md-6">
      <div class="fund-box">
      <h1>The Daniel LudWig Cancer Fund</h1>
      <hr>
      <li><h3>Research Type: Cancer</h3></li>
      <li><h3>Expected Returns: Mixed Profit / Philanthropic</h3></li>
      <li><h3>Research Stage: Basic Reseach / Applied Research</h3></li>
      </br>
      <p>Raising 1 Million</p>
      <p>15K Minimum Investment</p>
      <p>Launching December 2015</p>
      <%= image_tag('roelnusse_lynch_avatar.png', class: 'media-img', id: 'second-fund-image', alt: 'Funder Image') %>
      </br>
      </br>
      <button class="btn btn-primary btn-lg" disabled="disabled" type="submit">Launching Soon!</button>
      </div>
    </div>   

    </div>
  </div>
</div>


<!-- services section -->

<div class="container-fluid" id="scientists">

  <div class="who">
    <h1>Who is eligible for funding?</h1>
  </div>

  <div class="row">

    <div class="col-md-4 scientist-type">
      <div class="science-container">
        <h3>Individual Researcher & Labs</h3>
        </br>
          <p>Are you an individual with a breakthrough idea? Are you a lab seeking between 100K-500K to continue your novel research? ScienceVest is is the place for you!
          </p>
        </br>
        </br>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
    </div>  

    <div class="col-md-4 scientist-type">
        <div class="science-container">
          <h3>Research Institutes & Groups</h3>
          </br>
          <p>Are you a research institute or group looking to fund an innovative reasearch initiative or team? ScienceVest can be a great way to connect with investors!
          </p>
          </br>
          </br>
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        </div>
      </div> 

    <div class="col-md-4 scientist-type">
      <div class="science-container">
        <h3>Scientific Startups</h3>
        </br>
        <p>Are you a scientific startup looking to disrupt the market with novel technology? ScienceVest is the platform that can take your startup to the next level!
        </p>
        </br>
        </br>
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
     </div>
    </div>

  </div>

</div>

<!-- contact section -->


<div id="contact" class="container-fluid">
  <div class="contact-header"><h1>Contact Us</h1></div>
  <div class="row">
      <div class="col-md-6">
        <div id="contact-general">
          <h2>General Inquiries</h2>
          <p><b>Email:</b> 
             info@sciencevest.com
          </p>
          <p><b>Mail:</b>
             P.O.Box 98032
             San Francisco, CA 94119
          </p>
        </div>
        <div id="contact-scientists">
          <h2>For Scientists</h2>
          <b>Email:</b> scientists@sciencevest.com
        </div>

        <div id="contact-investors">
          <h2>For Investors</h2>
          <b>Email</b>: investors@sciencevest.com
        </div>
      </div>

      <div class="col-md-6">
        <div class="pre-register-contact">
          <h2>Pre-Register!</h2></br>
          <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//sciencevest.us8.list-manage.com/subscribe/post?u=c50dae01481d495cdc2281893&amp;id=970e91af45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_c50dae01481d495cdc2281893_970e91af45" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Pre-resgister" name="subscribe" id="mc-embedded-subscribe" class="button button btn btn-lg btn-primary signup-button" role="button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
        </br>
       
      </div>
  </div>
</div>
