@import "bootstrap";

/** body **/

body {
	position: relative;
}
/** navbar **/

.navbar {
	margin: 0px;
	border-bottom: 0px;
	font-family: 'Rokkitt', serif;
}

.navbar-inverse {
	background-color: #428bca;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 36px;
  font-size: 26px;
  font-weight: bold; 
}

.navbar-container-right .navbar-right > li > a {
	color: white;
	font-size: 16px; 
}

.navbar-container-right .navbar-right > li > a:hover {
	color: black;
}

.container {
	padding-top: 10px;
}

/** baner **/

.banner {
	background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),image-url('spaceshipbanner.jpg');   
	height: 680px;
	margin-top: 0px;
	font-size: 16px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-content {
	text-align: center;
	font-weight: 50; 
	padding-top: 60px;
	padding-bottom: 150px;
	color: white;
}

.opening-text {
	padding-left: 300px;
	padding-right: 300px;
	font-size: 90px;
	line-height: 115%;
	padding-top: 100px;
	padding-bottom: 10px;
	font-weight: 100;
	font-family: 'Rokkitt', serif;
}

.sub-opening-text {
	padding-top: 10px;
	font-size: 40px;
	padding-left: 300px;
	padding-right: 300px;
	font-family: 'Rokkitt', serif;
	line-height: 45px;	
}

.pre-register {
	padding-top: 40px;
}

.email-signup-container {
	text-align: center;
	font-size: 14px;
}

.signup-button {
	width: 275px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#mce-EMAIL {
	width: 275px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 45px;
	font-size: 22px;
}


/** investors section **/

#investors-container {
	height: 950px;
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 75px;
	text-align: center;
}

.fund-boxes-container {
	padding-top: 75px;
}

.fund-box {
	border: 1px solid #DEDEDE;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	height: 530px;
	h1 {
		font-size: 28px;
		text-align: center
	}
	h3{
		font-size: 20px;
		text-align: left;
	}
	.media-img {
		border-radius: 50%;
	} 
}

#second-fund-image {
	margin-top: -5px;
}

/** services **/

#scientists {
	background-color: #428bca;
	color: white;
	height: 700px;
	font-family: 'Rokkitt', serif;
	padding-bottom: 50px;
	margin: 0px;
	.who {
		padding-top: 75px;
		text-align: center;
		padding-bottom: 40px;
	}
	.science-container {
		background-color: white;
		color: #222222;
		text-align: center;
		font-size: 16px;
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 25px;
		padding-top: 25px;
	}
}


.event-container li {
	text-align: left;
}

.glyphicon {
	font-size: 85px;
}

/** contact **/

#contact {
	background-color: white;
	height: 700px;
	padding-top: 50px;
	text-align: left;
	font-size: 20px;
	font-family: 'Rokkitt', serif;
	.contact-header {
		padding-top: 50px;
	}
	h1 {
		text-align: center;
	}
	#contact-general {
		padding-left: 200px;
		padding-top: 50px;
	}
	#contact-investors {
		margin-top: 10px;
		padding-bottom: 10px;
		padding-left: 200px;
		margin: 0px;
	}
	#contact-scientists {
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 200px;
		margin: 0px;
	}
}

.pre-register-contact {
	padding-top: 100px;
	text-align: center;
}